# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1
POSTGRES_DB=marketplace_db

# Redis
REDIS_PASSWORD=redis123

# RabbitMQ
RABBITMQ_USER=kaitojpla
RABBITMQ_PASSWORD=2909

# JWT Secrets
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret

# AWS S3 (for product images)
AWS_S3_BUCKET=your-product-images-bucket
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=us-east-1

# PayPal
PAYPAL_CLIENT_ID=AYxcD1jBUgx2LMY2eoXyM
PAYPAL_SECRET=EPxefifbE6-6hPXAsqdY8jGlxcTpYRwuAjhT2aRPxWChSK0QOwIhijGbgwfRNhS2TEN2FSwSG-Mf4hhN
PAYPAL_MODE=sandbox

# Blockchain
ESCROW_CONTRACT_ADDRESS=0xCDE08Be0190482691b3288C27240378497d74E79
POLYGON_RPC_URL=https://polygon.drpc.org
PRIVATE_KEY=your_private_key_here

# External APIs
MORALIS_API_KEY=your_moralis_api_key
HCAPTCHA_SECRET=ES_9a13fd597b2c4cd5a3b0ded489fd5e17

# OAuth
GOOGLE_CLIENT_ID=946575631331-1p51ll7tpqd0bo1impek2nggoqjrcoo8.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
FACEBOOK_CLIENT_ID=1497732641781702
FACEBOOK_CLIENT_SECRET=7bbce842d85baa3c21fca3101b42c832

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=qo/QS42PzUNj0lFF9JbxXhD2S247Yf5ZMCoar3leqaw=

# WalletConnect
WALLETCONNECT_PROJECT_ID=2025428d471768844b11469874320127
